.headerText{
    font-weight: 600;
    font-size: 1.45rem;
    display: inline-block;
}

.dot{
    color: var(--yellow-500)
}

.headerContainer{
    max-width: 960px;
    margin: 5rem auto 1rem;
    padding: 0 2rem;
}

.headerVector{
    margin-right: 1.25rem
}